---
import { getCollection } from 'astro:content';
import '../index.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';

const allSnippets = await getCollection('snippet');
---

<BaseLayout title="Snippets">
  <header
    class="border-b border-zinc-200 bg-white px-4 dark:border-zinc-800 dark:bg-zinc-900"
  >
    <div class="mx-auto flex max-w-[96rem] items-center justify-between py-4">
      <Logo />
      <ThemeSwitcher />
    </div>
  </header>
  <main class="overflow-y-auto">
    <div id="grid" class="mx-auto max-w-[96rem] px-4 py-8">
      {allSnippets.map((s) => <Card snippet={s} />)}
    </div>
  </main>
</BaseLayout>

<style is:global>
  pre {
    overflow: clip !important;
  }

  .grid-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>

<style>
  [data-columns] {
    display: grid;
    column-gap: 16px;
  }

  [data-columns='2'] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  [data-columns='3'] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  [data-columns='4'] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
</style>

<script>
  import Columns from 'columns.js';

  let grid = new Columns(document.getElementById('grid')!, {
    columns: 1,
    breakpoints: {
      768: 2,
      1280: 3,
    },
    column_class: 'grid-col',
    algorithm: 'greedy',
  });

  window.addEventListener('resize', () => {
    grid.render();
  });
</script>
