---
import { getCollection } from 'astro:content';
import '../index.css';
import Card from '../components/Card.astro';

const allSnippets = await getCollection('snippet');
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Snippets</title>
  </head>
  <body class="h-full">
    {allSnippets.map((s) => <Card snippet={s} />)}
  </body>
</html>
