---
import { getCollection } from 'astro:content';
import '../index.css';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';

const allSnippets = await getCollection('snippet');
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Snippets</title>
    <script is:inline>
      setTheme = () => {
        let theme = 'light';
        if (localStorage && localStorage.getItem('theme-preference')) {
          theme = localStorage.getItem('theme-preference');
        } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          theme = 'dark';
        }
        if (theme === 'light') {
          document.documentElement.classList.remove('dark');
        } else {
          document.documentElement.classList.add('dark');
        }
      };
      setTheme();
    </script>
  </head>
  <body class="h-full grid grid-rows-[auto,1fr] bg-zinc-100 dark:bg-zinc-950">
    <header
      class="px-4 bg-white dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-800"
    >
      <div class="max-w-[96rem] mx-auto flex items-center justify-between py-4">
        <Logo />
        <ThemeSwitcher />
      </div>
    </header>
    <main class="overflow-y-auto">
      <div id="grid" class="max-w-[96rem] mx-auto px-4 py-8">
        {allSnippets.map((s) => <Card snippet={s} />)}
      </div>
    </main>
  </body>
</html>

<style is:global>
  pre {
    overflow: clip !important;
  }

  .grid-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>

<style>
  [data-columns] {
    display: grid;
    column-gap: 16px;
  }

  [data-columns='2'] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  [data-columns='3'] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  [data-columns='4'] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
</style>

<script>
  import Columns from 'columns.js';

  let grid = new Columns(document.getElementById('grid')!, {
    columns: 1,
    breakpoints: {
      768: 2,
      1280: 3,
    },
    column_class: 'grid-col',
    algorithm: 'greedy',
  });

  window.addEventListener('resize', () => {
    grid.render();
  });
</script>
