---
import { getCollection } from 'astro:content';
import '../index.css';
import Card from '../components/Card.astro';
import Logo from '../components/Logo.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';

const allSnippets = await getCollection('snippet');
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Snippets</title>
    <script>
      declare global {
        interface Window {
          setTheme: () => void;
        }
      }

      window.setTheme = () => {
        const theme =
          localStorage.getItem('theme-preference') ||
          window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light';
        document.documentElement.classList.toggle('dark', theme === 'dark');
      };
      window.setTheme();
    </script>
  </head>
  <body class="grid h-full grid-rows-[auto,1fr] bg-zinc-100 dark:bg-zinc-950">
    <header
      class="border-b border-zinc-200 bg-white px-4 dark:border-zinc-800 dark:bg-zinc-900"
    >
      <div class="mx-auto flex max-w-[96rem] items-center justify-between py-4">
        <Logo />
        <ThemeSwitcher />
      </div>
    </header>
    <main class="overflow-y-auto">
      <div id="grid" class="mx-auto max-w-[96rem] px-4 py-8">
        {allSnippets.map((s) => <Card snippet={s} />)}
      </div>
    </main>
  </body>
</html>

<style is:global>
  pre {
    overflow: clip !important;
  }

  .grid-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>

<style>
  [data-columns] {
    display: grid;
    column-gap: 16px;
  }

  [data-columns='2'] {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  [data-columns='3'] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  [data-columns='4'] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
</style>

<script>
  import Columns from 'columns.js';

  let grid = new Columns(document.getElementById('grid')!, {
    columns: 1,
    breakpoints: {
      768: 2,
      1280: 3,
    },
    column_class: 'grid-col',
    algorithm: 'greedy',
  });

  window.addEventListener('resize', () => {
    grid.render();
  });
</script>
