---
import type { CollectionEntry } from 'astro:content';
interface Props {
  snippet: CollectionEntry<'snippet'>;
}

const { snippet } = Astro.props;
const { Content } = await snippet.render();

const maxHeight = Math.floor(Math.random() * (750 - 400)) + 400;
---

<div
  class="overflow-hidden p-4 rounded-xl bg-white ring-1 ring-zinc-200 relative"
  style={`max-height: ${maxHeight}px`}
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-white"
  >
  </div>
  <div class="prose prose-pre:rounded-xl">
    <h3>{snippet.data.title}</h3>
    <div class="flex gap-2 flex-wrap">
      {
        snippet.data.tags.map((t) => (
          <span class="bg-sky-50 text-sky-700 ring-1 ring-sky-100 text-xs font-semibold px-3 py-1 rounded-full">
            {t}
          </span>
        ))
      }
    </div>
    <Content />
  </div>
</div>
