---
import type { CollectionEntry } from 'astro:content';
import Chip from './Chip.astro';

interface Props {
  snippet: CollectionEntry<'snippet'>;
}

const { snippet } = Astro.props;
const { Content } = await snippet.render();

const maxHeight = Math.floor(Math.random() * (750 - 400)) + 400;
---

<div
  class="overflow-clip p-4 rounded-xl bg-white dark:bg-zinc-900 ring-1 ring-zinc-200 dark:ring-zinc-800 relative"
  style={`max-height: ${maxHeight}px`}
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-white dark:to-zinc-900"
  >
  </div>
  <div class="prose dark:prose-invert prose-pre:rounded-xl">
    <h3>{snippet.data.title}</h3>
    <div class="flex gap-2 flex-wrap">
      {snippet.data.tags.map((t) => <Chip text={t} />)}
    </div>
    <Content />
  </div>
</div>
