---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span
  class="bg-pink-50/80 text-pink-800 ring-pink-100 dark:bg-yellow-900/20 dark:text-yellow-400 ring-1 dark:ring-yellow-800/40 text-xs font-semibold px-3 py-1 rounded-full"
>
  {text}
</span>
