---
import Logo from './Logo.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header
  class="border-b border-zinc-200 bg-white px-4 dark:border-zinc-800 dark:bg-zinc-900"
>
  <div class="mx-auto flex max-w-[96rem] items-center justify-between py-4">
    <Logo />
    <ThemeSwitcher />
  </div>
</header>
