<a href="/" aria-label="Home">
  <img
    src="/images/logo-light.webp"
    class="-my-2 block h-14 dark:hidden"
    alt="Snippets"
  />
  <img
    src="/images/logo-dark.webp"
    class="-my-2 hidden h-14 dark:block"
    alt="Snippets"
  />
</a>
