<a href="/" class="logo text-4xl">Snippets</a>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

  @font-palette-values --dark {
    font-family: Nabla;
    base-palette: 0;
  }

  @font-palette-values --light {
    font-family: Nabla;
    base-palette: 1;
  }

  .logo {
    font-family: 'Nabla';
    font-palette: var(--palette);
  }
</style>
